/* This is mobile style css for instagram
Author: Vitor Carneiro Silva de Oliveira*/

@media (max-width: 935px) {
/* \/ HEADER ------------------------------------------------------------------ \/ */
    .logo-header {
        margin-left: 21px;
    }

    .icons-header a {
        margin-left: 0;
        margin-right: 21px;
    }

/* /\ HEADER ------------------------------------------------------------------ /\ */

/* \/ MAIN -------------------------------------------------------------------- \/ */
    main {
        margin-right: 0;
    }
/* /\ MAIN -------------------------------------------------------------------- /\ */

/* \/ LATERAL BAR ------------------------------------------------------------- \/ */
    aside {
        display: none;
    }
/* /\ LATERAL BAR ------------------------------------------------------------- /\ */
    
}

@media (max-width: 614px) {

/* \/ HEADER ------------------------------------------------------------------ \/ */
    .header-background {
        width: 100%;
    }

    .search-box {
        display: none;
    }

    .logo-header {
        width: auto;
    }

    .logo-header ion-icon {
        padding: 0;
        border: 0;

        margin-left: 21.38px;
    }

    .logo-header img {
        display: none;
    }

    .icons-header {
        display: none;
    }

    .logo-mobile {
        display: initial;
    }

    .icon-mobile {
        display: initial;
        color: black;

        margin-right: 18px;
    }

    .icon-mobile a {
        color: black;
        font-size: 22px;
    }
/* \/ MAIN -------------------------------------------------------------------- \/ */
    main {
        width: 100%;

        margin: 0;
    }

/* \/ stories ----------------------------------- \/ */
    .stories-bar {
        background-color: #E5E5E5;

        width: 100%;
        height: auto;

        padding: 0;

        margin-top: 17px;
        margin-bottom: 18px;
        margin-left: 18px;

        border: 0px;
    }

    .stories-bar a ion-icon {
        display: none;
    }
/* /\ stories ----------------------------------- /\ */
/* /\ MAIN -------------------------------------------------------------------- /\ */

.footer-mobile {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #FFF;
    border-top: 1px solid #DBDBDB;
    height: 54px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}